.card{
    margin: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    width: 400px;
}

.input_field{
    border-radius: 8px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 25px;
}

.btn{
    border: 0px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}